init_config:

instances:
#  - host: traefik
#    port: "8080"
#    path: "/ping"
#    scheme: "http"    

logs:
  - type: file
    path: /etc/traefik/traefik.log
    source: traefik
    service: traefik
